@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Listen to our audio by clicking Play button</h1>




<audio controls="controls">
    <source src="/audiosource/blazor%20audio%20file%20to%20pay.mp3" type="audio/mp3" />
</audio>